.my-class {
  color: red;
}

.test-class:before {
  content: "●";
  color: darkblue;
  font-size: 1rem;
}

.your-class {
  background-color: red;
  width: 100%;
}

.test::after {
  content: "ngClass로 추가된 test 클래스";
  border: 2px solid violet;
  margin-left: 10px;
}
